<br><br>
<div class="filtros">
    <ul>
        <li>
            <h1>Personajes</h1>
        </li>
        <li>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" (input)="buscarPersonaje($event)" />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </li>
        <li>
            <select (change)="buscarPersonajesPor($event)">
                <option selected disabled>Filtrar</option>
                <option value="status=alive">Personajes Vivos</option>
                <option value="status=dead">Personajes Muertos</option>
                <option value="status=unknown">Paradero Desconocido</option>
                <option value="gender=female">Personajes Femeninos</option>
                <option value="gender=male">Personajes Masculinos</option>
                <option value="gender=genderless">Personajes Sin Género</option>
                <option value="gender=unknown">Personajes Raros</option>
              </select>
        </li>
    </ul>

</div>
<br><br>

<div class="row">
    <div class="col-md-4 col-12" *ngFor="let personaje of respuesta">
        <div class="tarjeta">
            <div class="foto">
                <img src="{{ personaje.image }}" (click)="open(longContent, personaje)">
            </div>
            <div class="contenido">
                <h5>{{ personaje.name }}</h5>
                <h6>Estado</h6>
                <p>{{ personaje.status }}</p>
                <h6>Especie</h6>
                <p>{{ personaje.species }}</p>
                <h6>Género</h6>
                <p>{{ personaje.gender }}</p>

                <img class="heart" src="{{ url_svg }}" (click)="swithHeart($event.target)" activo="false">
            </div>
        </div>
    </div>
</div>

<ng-template #longContent let-modal>

    <div class="modal-body">
        <img src="/assets/svg/Cerrar.svg" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <div class="tarjeta">
            <div class="foto">
                <img src="{{ image }}">
            </div>
            <div class="contenido">
                <h3>{{ name }} </h3>
                <h4>{{ species }} | {{ gender }} | {{ status }}</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id ultrices sapien, vel porta risus. Aliquam ac tincidunt felis, sed vehicula orci. Nulla ac ligula nec magna interdum efficitur nec a ligula. Praesent sed eros elit. Etiam in lacus a ex cursus
                    euismod. Sed nec pretium metus. In ac interdum metus. In viverra, massa et congue pharetra, orci mauris vulputate neque, a convallis tortor turpis sed massa. Cras ex dui, sagittis maximus sodales vitae, ornare tempor neque. Aenean
                    facilisis dapibus ex, non pretium metus. Proin at ipsum enim.
                </p>
                <img class="heart" src="{{ url_svg }}" (click)="swithHeart($event.target)" activo="false">
            </div>
        </div>

    </div>
</ng-template>