/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background-color: #F5F7FA;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 72px;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
}

header .logo img {
    height: 60px;
    margin: 6px 20px;
    cursor: pointer;
    float: left
}

header .menu {
    float: right;
}

header .menu li {
    padding: 28px 20px 0 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #707070;
    cursor: pointer;
    list-style: none;
    list-style-type: none;
    display: inline-block;
    transition: 0.5s;
}

header .menu li div {
    width: 0;
    height: 5px;
    margin-top: 23px;
    background-color: #0080FF;
    transition: 0.5s;
}

header .menu li.active,
header .menu li:hover {
    color: #0080FF;
}

header .menu li.active div,
header .menu li:hover div {
    width: 100%;
}


/* Css de las targetas de cada personaje */

.filtros,
.filtros ul {
    width: 100%;
}

.filtros h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 2em;
    font-weight: bold;
}

.filtros li {
    width: 30%;
    text-align: center;
    display: inline-block;
}

.filtros input {
    font-weight: bold;
    box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
}

.filtros select {
    width: 70%;
    height: 2.5em;
    margin: 0 15%;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 4px 10px 0px rgb(0 128 255 / 15%);
    -webkit-box-shadow: 0px 4px 10px 0px rgb(0 128 255 / 15%);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
}

.tarjeta {
    width: 90%;
    margin: 5% 20px;
    overflow: hidden;
    position: relative;
    background-color: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 128, 255, 0.15);
}

.tarjeta .foto {
    width: 40%;
    display: block;
    float: left;
    overflow: hidden;
}

.tarjeta img {
    width: 150%;
    margin: 0 -25%;
    cursor: pointer;
}

.tarjeta .contenido {
    width: 60%;
    padding: 25px 20px 0 20px;
    float: left;
    position: relative;
}

.contenido h5 {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
}

.contenido h6 {
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: 900;
    color: #20B761;
}

.contenido p {
    font-size: 0.7em;
    color: #727B82;
}

.contenido .heart {
    width: 20px;
    margin: 0;
    padding: 0;
    top: 25px;
    right: 20px;
    cursor: pointer;
    position: absolute;
}

.modal-body .close {
    width: 20px;
    top: 0;
    left: 100%;
    position: absolute;
    cursor: pointer;
}

.modal-body {
    padding: 0;
}

.modal-body .tarjeta {
    width: 100%;
    margin: 0;
    padding: 0;
}

.modal-body .contenido {
    padding: 50px 30px 0 30px;
}

.modal-body .contenido h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.modal-body .contenido h4 {
    font-size: 1em;
    font-weight: normal;
}

.modal-body .contenido p {
    font-size: 0.8em;
}

.modal-body .foto img {
    width: 120%;
    margin: 0 -10%;
    cursor: pointer;
}